# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Infra secrets
infra/k3s/base/api-secret.yaml
infra/k3s/base/postgres-secret.yaml
infra/k3s/jenkins/secrets/*.env

# Reports
reports/
gitleaks-report.json
*.sarif

