# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Infra secrets 
infra/k3s/base/api-secret.yaml
infra/k3s/base/postgres-secret.yaml
infra/k3s/base/keycloak-secret.yaml
infra/k3s/base/keycloak-tls-secret.yaml
infra/k3s/jenkins/secrets/*.env

# TLS-certs & keys
infra/tls/
*.key
*.crt
*.pem
!*.example.*

# Reports
reports/
gitleaks-report.json
*.sarif
infra/k3s/monitoring/secrets/grafana-admin.env
